<section id="about">
  <div class="about__child">
    <h1 class="about__heading">About Us</h1>
  </div>
</section>
<section id="philosophy">
  <a routerLink="/" class="page-link">
    <div class="philosophy__child">
      <h1 class="philosophy__heading">Home</h1>
    </div>
  </a>
</section>
<section id="history">
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla ornare mi, ac volutpat nibh tincidunt quis. Praesent elementum elit blandit rhoncus facilisis. Etiam tristique tortor dui, et faucibus libero laoreet vel. Sed porttitor arcu neque, posuere maximus dolor cursus id. Nunc aliquet ornare interdum. Duis aliquam est eget sodales aliquam. Aenean condimentum tortor varius tellus aliquet luctus.
  Integer at laoreet massa. Vivamus a vehicula dolor. Fusce interdum libero eu nisi finibus, quis maximus dolor auctor. Proin tempus tortor in ante vehicula tincidunt. Etiam in eros sed massa sollicitudin aliquam sed sed est. Etiam quis dignissim purus. In luctus eros eu justo fringilla pellentesque. Nulla euismod ante purus, quis lobortis libero elementum vel. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum et nisi sed diam dictum volutpat.
  </p>
</section>
