<section id="map">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="11">
    <agm-marker [latitude]="coords[0][0]" [longitude]="coords[0][1]">
      <agm-info-window>
        <a [routerLink]="['/menu/st-paul']" class="location-detail">
          Bellicci Pizza - St. Paul
        </a>
      </agm-info-window>
    </agm-marker>
    <agm-marker [latitude]="coords[1][0]" [longitude]="coords[1][1]">
      <agm-info-window>
        <a [routerLink]="['/menu/minneapolis']" class="location-detail">
          Bellicci Pizza - Minneapolis
        </a>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</section>
<section id="addresses">
  <div class="row">
    <div class="col-1-of-2">
      <a [routerLink]="['/menu/st-paul']" class="menu-link">
        <div class="address">
          Bellicci Pizza - St. Paul<br />
          945 Rice St,<br />
          St Paul, MN 55117
        </div>
      </a>
    </div>
    <div class="col-1-of-2">
      <a [routerLink]="['/menu/minneapolis']" class="menu-link">
        <div class="address">
          Bellicci Pizza - Minneapolis<br />
          81 S. 9th St,<br />
          Minneapolis, MN 55402
        </div>
      </a>
    </div>
  </div>
</section>
