:host {
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25%;
  min-width: 250px;
  z-index: 9999;
  padding: 2.5rem;
  overflow-y: scroll;
  /*font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
}

.itemAndPrice {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.item {
  width: 50%;
}

.quantity {
  width: 25%;
}

.price {
  width: 25%;
}

.remove {
  text-align: right;
}

.remove-button {
  display: inline-block;
  font-size: 1.2rem;
  color: #c92a2a;
  cursor: pointer;
}

.toppings {
  font-size: .8rem;
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*align-items: center;*/
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
}

.total {
  display: flex;
  /*justify-content: flex-end;*/
}

.total-amount {
  margin-left: auto;
  width: 25%;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.btn {
  width: 100%;
  font-size: 1.5rem;
  background-image: linear-gradient(
    to right top, #364667, #3e1b3c);
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: all .3s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
}

.btn:active,
.btn:focus {
  transform: translateY(-1px);
  outline: none;
  box-shadow: 0 .2rem .6rem rgba(0, 0, 0, .3);
}
